doctype
html
    head
        title User Management Dashboard
    body
        div(id='react-root')!= react

        script(src='//cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js')